@import url("layout.css");
body {
	font-family: Arial, sans-serif;
	font-size: medium;
	color: #000;
	overflow: auto;
	height: 100%;
}
#container {
	width: 100%;
	height: 100%;
	background-color: #cb8;
}
#masthead {
	width: 100%;
	overflow: hidden;
	text-align: right;
	background-color: #c5d5e5;
	height:150px;
}
#page_content {
	position: relative;
	overflow: hidden;
	height: 380px;
}
#sidebar {
	display:inline-block;
	position: relative;
	float: left;
	width: 140px;
	background-color: #cb8;
	overflow-y: auto;
	overflow-x: hidden;
	height: 380px;
	width: 220px;
}
#content {
	position: relative;
	top: -15px;
	margin-left: 140px;
	padding: 10px;
	background-color: #fff;
	height: 98.7%;
	width: 82.3%;
	overflow: scroll;
}
#footer {
	clear: both;
	width: 99%;
	overflow: hidden;
	padding-top: 1%;
	padding-right: 0;
	padding-bottom: 1%;
	padding-left: 1%;
	background-color: #cdf;
}
#masthead img {
	float: left;
}
#masthead p {
	font-size: small;
	margin: 0;
	margin-right: 1%;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Arial Black;
}
.PageHeading
{
	margin-top: 0px;
	margin-bottom: 10px;
	background-color:white;
}

#TOC a
{
	display: inline-block;
	position: relative;
	background-color: #cb8;
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 150px;
	padding-bottom: 5px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

#TOC a:hover
{
	display: inline-block;
	position: relative;
	background-color: #dc9;
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 150px;
	padding-bottom: 5px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
/* Styles for Navigation */
#sidebar ul {
	list-style-type: none;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
#sidebar li {
	display: block;
	border: 1px solid #cb8;
}
#sidebar a {
	font-weight: bold;
	text-decoration: none;
	/*color: #393939;*/
	color: rgb(105,105,105);
	padding-left: 5%;
	padding-top: 1%;
	display: inline-block;
	/*border-bottom: 1px solid #f5f5f5;*/
	width:90%;
}
#sidebar a:hover {
	font-weight: bold;
	text-decoration: none;
	/*color: #393939;*/
	color: rgb(105,105,105);
	/*border-bottom: 1px solid #f5f5f5;*/
	background-color: #dc9;
	width:90%;
}
/* Styles for Footer */
#footer p {
	font-size: x-small;
}
#footer a {
	color: #393939;
	text-decoration: underline;
}
#footer a:hover {
	color: #393939;
	text-decoration: none;
}
a {
	color: #393939;
	text-decoration: underline;
}
a:hover {
	color: #78a;
	text-decoration: underline;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}