<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="index.asp" />
                <add value="index.aspx" />
                <add value="Default.php" />
                <add value="Default.htm" />
                <add value="Default.html" />
                <add value="Default.asp" />
                <add value="default.aspx" />
                <add value="isstart.php" />
                <add value="iisstart.htm" />
                <add value="isstart.html" />
                <add value="isstart.asp" />
                <add value="isstart.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
